* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #D9CFA9;
    color: #000000;

}
/* Begin Header Styles */
.containerHeader {
    display: flex;
    width: 90%;
    height: 17%;
    margin: 15px;
    font-size: 40px;    
    margin: 15px;
    /*
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 10px;
    */
}

.ImageHeaderLeft {
    /* width: 50%;
    height: 50%; */
    max-width: 100%; 
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    text-align: left;
    /*
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 13px
    */
}

.Title {
    width: 50%;
    height: auto;
    color: blue;
    margin: 5px;
    text-align: center;
    font-size: clamp(1.8rem, calc(1.5vw + 1rem), 5rem);
    /*
    font-size: 40px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 13px;
    
    */
}

.ImageHeaderRight {
    /* width: 50%;
    height: 50%; */
    max-width: 100%; 
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    text-align: right;
    /*
    border-style: solid;
    border-color: green;
    border-width: 2px;
    border-radius: 13px;
    */
}
/* End Header Styles */

/* Begin Message Styles */
.Message {
    margin: 60px;
    font-size: 1rem;
    font-weight: bold;
    color: #f31313;
}
/* End Message Styles */

/* Begin Responsive Styles */
@media (min-width: 300px) {
    
    .Message{
        color: green;
    }
 @media (min-width: 883px) {
        .Message{
            color: red;
        }
    
}
/* End Responsive Styles */