* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #D9CFA9;
    color: #000000;
}

button {
    width: 160px;
    height: 30px;
    background-color: #D9CFA9;
    font-weight: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

/* Begin containerHeader Styles */
.containerHeader {
    display: flex;
    width: 90%;
    height: 17%;
    margin: 15px;
    font-size: 40px;    
    /*
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 10px;
    */
}

.ImageHeaderLeft {
    /* width: 50%;
    height: 50%; */
    max-width: 100%; 
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    text-align: left;
    /*
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 13px
    */
}

.Title {
    width: 50%;
    height: auto;
    color: blue;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    /*
    font-size: 40px;
    border-style: solid;
    border-color: blue;
    border-width: 2px;
    border-radius: 13px;
    
    */
}

.ImageHeaderRight {
    /* width: 50%;
    height: 50%; */
    max-width: 100%; 
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    padding: 5px;
    margin: 5px;
    text-align: right;
    /*
    border-style: solid;
    border-color: green;
    border-width: 2px;
    border-radius: 13px;
    */
}
/* End containerHeader Styles */

/* Begin Message Styles */
.Message {
    margin-top: 50px;
    margin-left: 58px;
    font-size: 20px;
    font-weight: bold;
    color: #f31313;
}
.Message:focus {
    color: #f31313;
}
/* End Message Styles */

/* Begin containerButtons Styles */
.containerButtons {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 600px;
    margin: 15px;
    font-size: 12px;   
}
/* End containerButtons Styles */

/* Begin Buttons Styles and Actions */
.divButtons {
    display: inline-block;
    border: none;
    font-size: 23px;  
    transition: .3s; 
}

.btnGT {
    color: #000000;
    font-size: 22px;  
}

.buttons:focus {
    color: #000000;
    background-color: #90e738;
    font-size: 25px;  
    font-weight: bold;
    text-align: center;
    border-color: #000000;
    border-top: 2px;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;  
    box-shadow: 0px 0px 50px 20px rgba(58, 57, 110);
    animation: anim-shadow .3s forwards;  
}

#btn01:focus + #btnGT01 {
    visibility: hidden;
}

#btn02:focus + #btnGT02 {
    visibility: hidden;
}

#btn02:focus {
    width: 195px;
    height: 50px;
}

#btn03:focus + #btnGT03 {
    visibility: hidden;
}

#btn04:focus + #btnGT04 {
    visibility: hidden;
}

#btn05:focus + #btnGT05 {
    visibility: hidden;
}  

#btn06:focus + #btnGT06 {
    visibility: hidden;
} 

#btn07:focus + #btnGT07 {
    visibility: hidden;
} 

#btn08:focus + #btnGT08 {
    visibility: hidden;
} 

#btn09:focus + #btnGT09 {
    visibility: hidden;
} 

#btn10:focus + #btnGT10 {
    visibility: hidden;
} 

#btn11:focus + #btnGT11 {
    visibility: hidden;
} 

#btn11:focus {
    width: 195px;
    height: 50px;
}

#btn12:focus + #btnGT12 {
    visibility: hidden;
} 

#btn13:focus + #btnGT13 {
    visibility: hidden;
} 

#btn14:focus + #btnGT14 {
    visibility: hidden;
} 

#btn14:focus {
    width: 195px;
    height: 55px;
}
#btn15:focus + #btnGT15 {
    visibility: hidden;
} 


/* End Buttons Styles and Actions */

/* Begin containerRightside for Text Contents, Video and Audio data */
.containerRightside {
    position: absolute;
    width: 800px;
    height: 500px;
    top: 255px;
    left: 240px;
    border-style: solid;
    border-color: #000000;
    border-width: 2px;
    border-radius: 13px;
    
}
/* End containerRightside for Text Contents, Video and Audio data */

/* Begin Responsive Styles */

/* Begin Mobile (390 x 844) Responsive Styles */
/* When the page is less than 570 pixels apply these rules */
 @media (max-width: 570px) {

    .ImageHeaderLeft {
        margin-left: -15px;
    }
    .Title {
        font-size: 20px;    
    }

    .ImageHeaderRight {
        margin-left: -12px;
    }

}
/* End Mobile (390 x 844) Responsive Styles */ 

/* End Responsive Styles */
