* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: #D9CFA9;
    color: #000000;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    font-variant: normal;
    font-optical-sizing: auto;
    font-kerning: auto;
    font-feature-settings: "liga" on, "clig" on;    
    text-rendering: optimizeLegibility;     
    max-width: 1200px;
}